
org: map24
service: notes-kimbellander

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  environment:
    TOKEN_KEY: ${env:TOKEN_KEY}

functions:
  postNote:
    handler: functions/postNote/index.handler
    events:
      - httpApi:
          path: /api/notes
          method: POST
  getAllActiveNotes:
    handler: functions/getAllActiveNotes/index.handler
    events:
      - httpApi:
          path: /api/notes
          method: GET
  getAllDeletedNotes:
    handler: functions/getAllDeletedNotes/index.handler
    events:
      - httpApi:
          path: /api/deleted-notes
          method: GET
  patchNote:
    handler: functions/patchNote/index.handler
    events:
      - httpApi:
          path: /api/notes/{noteId}
          method: PATCH
  deleteNote:
    handler: functions/deleteNote/index.handler
    events:
      - httpApi:
          path: /api/notes/{noteId}
          method: DELETE
  restoreNote:
    handler: functions/restoreNote/index.handler
    events:
      - httpApi:
          path: /api/notes/restore/{noteId}
          method: PUT
  restoreAllNotes:
    handler: functions/restoreAllNotes/index.handler
    events:
      - httpApi:
          path: /api/notes/restore
          method: PUT
  signUp:
    handler: functions/auth/signUp/index.handler
    events:
      - httpApi:
          path: /api/user/signup
          method: POST
  signIn:
    handler: functions/auth/signIn/index.handler
    events:
      - httpApi:
          path: /api/user/signin
          method: POST

resources:
  Resources:
    notesDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: NOTES
        AttributeDefinitions:
          # Partition Key
          - AttributeName: PK
            AttributeType: S 
          # Sort Key
          - AttributeName: SK
            AttributeType: S 
        KeySchema:
          # Partition Key
          - AttributeName: PK
            KeyType: HASH 
          # Sort Key
          - AttributeName: SK
            KeyType: RANGE 
        BillingMode: PAY_PER_REQUEST
    usersDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: USER_ACCOUNTS
        AttributeDefinitions:
          # Partition Key
          - AttributeName: username
            AttributeType: S 
        KeySchema:
          # Partition Key
          - AttributeName: username
            KeyType: HASH 
        BillingMode: PAY_PER_REQUEST
